body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
}

.main {
  width: 100%;
}

.wrapper {
  width: 100%;

  max-width: 600px;
  margin: 0 auto;
}

.main__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main__title {
  text-align: center;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main__buttons-wrapper {
  margin-bottom: 35px;
}

.main__btns-list {
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.main__table {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 15px;
}

.main__table-row {
  display: flex;
  align-items: stretch;
  margin: 0 -5px;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

.main__table-cell {
  padding: 0 5px;
  display: flex;
  align-items: stretch;

  &--01,
  &--03 {
    width: 100px;
  }

  &--02 {
    flex-grow: 1;
  }
  &--03 {
    justify-content: flex-end;
  }
}

.main__table-input {
  height: 100%;
  border: none;
  box-sizing: border-box;
  color: #000000;
  width: 100%;
  padding: 5px 10px;

  &:disabled {
    color: #ffffff;
  }
}

.main__row {
  display: flex;
  justify-content: space-between;
}

// .main__button {
//   &--center {
//     margin-left: auto !important;
//     margin-right: 10px !important;
//   }
// }

.main__btns-wrapper {
  display: flex;
  flex-direction: column;
}

.main__btns-item {
}

.btn {
  &--active {
    outline: 2px solid red !important;
  }
}
